.uno {
  display: inline;
  background-color: yellow;
  padding: 10px;
  height: 80px;
  width: 250px;
  margin: 10px;

}
.dos {
  display: inline;
  background-color: #FF0040;
  padding: 10px;
  height: 80px;
  width: 150px;
  margin: 10px;

}
.tres {
  display: inline;
  background-color: yellow;
  padding: 10px;
  height: 80px;
  width: 250px;
  margin: 10px;
}
.text-uppercase {
  text-transform: uppercase;
}

#contenedor{
  position: relative;
  top:100px;
  left:38%;
}
